<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      Back to news
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-img [src]="article.urlToImage"  ></ion-img>
    <ion-card-header>
      <ion-card-subtitle>{{article.author}}</ion-card-subtitle>
      <ion-card-title>{{ article.title }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>{{ article.description }}</p>
      <a href={{article.url}} 
        onclick="window.open(this.href, '_system', 'location=yes')
          return false;">
          READ MORE
      </a>
    </ion-card-content>
    <ion-button expand="full" (click)="shareTwitter()">Share on Twitter</ion-button>
    <ion-button expand="full" (click)="shareEmail()">Share by Email</ion-button>
    <ion-button expand="full" (click)="shareWhatsApp()">Share with WhatsApp</ion-button>
  </ion-card>
</ion-content>
